%section.content
  .main
    %table
      %caption
        #{@nominator} (#{@nominator.email})
      %thead
        %tr
          %th(scope="col") Testimony
      %tbody
        - @nominator.nominations.each do |nomination|
          %tr
            %td.testimony= nomination.testimonial
            
    %p= link_to "Back to nominees", admin_nominees_path
