%h2 Do you see a match?
%ul.popdown
  - @nominees.each do |nominee|
    %li
      = link_to "Yes, nominate <strong>#{h nominee.github_username}</strong>".html_safe,
        new_nomination_path(:nominee_id => nominee.id)
