%fieldset
  %table
    %tr
      %td
        %label{ :for => :category_name } Name
      %td
        = form.text_field :name
    %tr
      %td
        %label{ :for => :category_description } Description
      %td
        = form.text_area :description, :rows => 10