%section.content
  .main
    %table
      %caption
        Nominations for
        = link_to @nominee.github_username, @nominee.url
      %thead
        %tr
          %th(scope="col") Testimony
      %tbody
        - @nominee.nominations.each do |nomination|
          %tr
            %td.testimony= nomination.testimonial

    %p= link_to "Back to nominees", admin_nominees_path
