
.nominees table
  width: 75%
  margin: 50px auto 10px
  td.nomination_count
    width: 3ex
    text-align: center
    font-size: 1.2em
  caption
    font-size: 1.5em
    padding: 10px
  td
    padding: 15px
  th
    padding: 5px 15px
    background-color: rgba(0, 0, 0, 0.075)
  tr:nth-child(odd)
    background-color: rgba(0, 0, 0, 0.05)

table
  width: 100%
  margin-top: 50px
  caption
    font-size: 30px
    text-align: left
  th, td
    padding: 5px
  th
    text-align: left
  td
    border-bottom: 1px solid #ddd
  .nominations_count
    font-size: 30px
    text-align: center
    font-weight: bold