.nominees table {
  width: 75%;
  margin: 50px auto 10px; }
  .nominees table td.nomination_count {
    width: 3ex;
    text-align: center;
    font-size: 1.2em; }
  .nominees table caption {
    font-size: 1.5em;
    padding: 10px; }
  .nominees table td {
    padding: 15px; }
  .nominees table th {
    padding: 5px 15px;
    background-color: rgba(0, 0, 0, 0.075); }
  .nominees table tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.05); }

table {
  width: 100%;
  margin-top: 50px; }
  table caption {
    font-size: 30px;
    text-align: left; }
  table th, table td {
    padding: 5px; }
  table th {
    text-align: left; }
  table td {
    border-bottom: 1px solid #dddddd; }
  table .nominations_count {
    font-size: 30px;
    text-align: center;
    font-weight: bold; }
