table {
  margin: 2em;
  font-size: 1.5em;
  width: 90%;
  margin-top: 50px; }
  table caption {
    font-size: 30px;
    text-align: left; }
  table th, table td {
    padding: 5px; }
  table th {
    text-align: left; }
  table td {
    border-bottom: 1px solid #dddddd; }
  table .nominations_count {
    font-size: 30px;
    text-align: center;
    font-weight: bold; }
