* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

html {
  font: 62.5% Helvetica, Arial, sans-serif; }

body {
  font-size: 1.3em;
  margin: 1em auto;
  width: 760px; }

h1 {
  display: block;
  width: 750px;
  text-align: center;
  font-size: 8em;
  margin: 0 auto -20px;
  text-transform: uppercase;
  letter-spacing: -0.1em; }

h2 {
  margin-left: 0;
  font: 4em Gill Sans Light;
  letter-spacing: 0.1em;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase; }

h3 {
  font-size: 2em;
  margin: 1em 0 .7em;
  letter-spacing: 0.05em; }

a:link, a:visited {
  color: inherit; }

section {
  width: 100%;
  padding: 30px;
  background: #fff7e5;
  border: 1px solid rgba(0,0,0,.5);
  overflow: auto; }

p {
  margin-bottom: 1em;
  font-size: 1.2em;
  letter-spacing: 0.06em;
  line-height: 1.5; }

#about {
  width: 360px;
  margin: 0 20px 0 0;
  float: left; }

aside {
  width: 320px;
  padding: 0 30px 20px;
  float: left;
  background: #f2e5c2; }

#similar {
  text-align: center;
  margin: 0 0 10px -350px; }

#reasons ul li {
  letter-spacing: .06em;
  font-size: 1.1em;
  line-height: 1.5;
  list-style: disc inside; }

#spread {
  clear: right; }

input#url {
  display: block;
  margin: 1em auto 1em 80px;
  width: 400px;
  padding: 4px 5px; }

button#nominate {
  margin: -63px 0 1em 510px;
  display: block;
  padding: 4px 10px;
  font-size: 1.4em; }

#footer {
  margin: 0 auto;
  width: 750px;
  margin: 1em 10px;
  font-size: 1em; }
