@media only screen and (max-device-width:480px) {
  body {
    -webkit-text-stroke: 0 black; } }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

button::-moz-focus-inner {
  border: none; }

input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none; }

section, article, footer, header {
  display: block; }

body {
  -webkit-text-stroke: 1px transparent; }
