/*
Syntax error: File to import not found or unreadable: partials/reset.
              Load path: /Users/nick/Projects/Rails/rubyheroes/public/stylesheets/sass
        on line 6 of /Users/nick/Projects/Rails/rubyheroes/public/stylesheets/sass/default.sass

1: /* ===== INFO =====
2: /*   Ruby Hero Awards
3: /*   CSS3 stylesheet 1.0
4: /*   cleverCode LLC - 2010
5: 
6: @import partials/reset
7: 
8: // Mixins
9: =linear-gradient($from, $to)
10:   background-color: $to
11:   background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to)) /* Saf4+, Chrome */

Backtrace:
/Users/nick/Projects/Rails/rubyheroes/public/stylesheets/sass/default.sass:6
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/sass-3.2.5/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/sass-3.2.5/lib/sass/tree/import_node.rb:45:in `import'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/sass-3.2.5/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/sass-3.2.5/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:215:in `visit_import'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/sass-3.2.5/lib/sass/tree/root_node.rb:20:in `render'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/sass-3.2.5/lib/sass/engine.rb:315:in `_render'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/sass-3.2.5/lib/sass/engine.rb:263:in `block in render'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/sass-3.2.5/lib/sass/util.rb:373:in `silence_sass_warnings'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/sass-3.2.5/lib/sass/engine.rb:263:in `render'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:341:in `update_stylesheet'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:201:in `each'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/sass-3.2.5/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/sass-3.2.5/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/sass-3.2.5/lib/sass/plugin/rack.rb:51:in `call'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/actionpack-3.0.20/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/actionpack-3.0.20/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/rack-1.2.8/lib/rack/methodoverride.rb:24:in `call'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/actionpack-3.0.20/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/actionpack-3.0.20/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/actionpack-3.0.20/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/actionpack-3.0.20/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/activerecord-3.0.20/lib/active_record/query_cache.rb:32:in `block in call'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/activerecord-3.0.20/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/activerecord-3.0.20/lib/active_record/query_cache.rb:12:in `cache'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/activerecord-3.0.20/lib/active_record/query_cache.rb:31:in `call'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/activerecord-3.0.20/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/actionpack-3.0.20/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/activesupport-3.0.20/lib/active_support/callbacks.rb:416:in `_run_call_callbacks'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/actionpack-3.0.20/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/rack-1.2.8/lib/rack/sendfile.rb:106:in `call'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/actionpack-3.0.20/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/actionpack-3.0.20/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/railties-3.0.20/lib/rails/rack/logger.rb:13:in `call'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/rack-1.2.8/lib/rack/runtime.rb:17:in `call'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/activesupport-3.0.20/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/rack-1.2.8/lib/rack/lock.rb:13:in `block in call'
<internal:prelude>:10:in `synchronize'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/rack-1.2.8/lib/rack/lock.rb:13:in `call'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/actionpack-3.0.20/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/railties-3.0.20/lib/rails/application.rb:168:in `call'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/railties-3.0.20/lib/rails/application.rb:77:in `method_missing'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/railties-3.0.20/lib/rails/rack/log_tailer.rb:14:in `call'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/rack-1.2.8/lib/rack/content_length.rb:13:in `call'
/Users/nick/.rvm/gems/ruby-1.9.3-p194@rubyheroes/gems/rack-1.2.8/lib/rack/handler/webrick.rb:52:in `service'
/Users/nick/.rvm/rubies/ruby-1.9.3-p194/lib/ruby/1.9.1/webrick/httpserver.rb:138:in `service'
/Users/nick/.rvm/rubies/ruby-1.9.3-p194/lib/ruby/1.9.1/webrick/httpserver.rb:94:in `run'
/Users/nick/.rvm/rubies/ruby-1.9.3-p194/lib/ruby/1.9.1/webrick/server.rb:191:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: partials/reset.\A               Load path: /Users/nick/Projects/Rails/rubyheroes/public/stylesheets/sass\A         on line 6 of /Users/nick/Projects/Rails/rubyheroes/public/stylesheets/sass/default.sass\A \A 1: /* ===== INFO =====\A 2: /*   Ruby Hero Awards\A 3: /*   CSS3 stylesheet 1.0\A 4: /*   cleverCode LLC - 2010\A 5: \A 6: @import partials/reset\A 7: \A 8: // Mixins\A 9: =linear-gradient($from, $to)\A 10:   background-color: $to\A 11:   background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to)) /* Saf4+, Chrome */"; }
