%footer
  .sponsor.grid
    .grid-box.one-whole
      %p
        Ruby Heroes <a
        href="https://olivierlacan.com/posts/ruby-heroes-farewell/"> are
        no longer being named</a> since 2017 but that doesn't mean there
        aren't everyday Ruby heroes roaming the streets and helping
        people all over the world. Remember: everyone can be a hero,
        even you.
