%footer
  .sponsor.grid
    .grid-box.one-whole.desk-one-half
      %p Ruby Heroes is sponsored by <a href="http://codeschool.com">Code School</a>, an online learning destination for existing and aspiring developers that teaches through entertaining content. Try out our <a href="http://codeschool.com/paths/ruby">Ruby Path</a>.
    .grid-box.one-whole.desk-one-half
      = link_to image_tag('logo-codeschool.svg', alt: 'Code School'), 'http://codeschool.com', class: 'sponsor-logo'
