- unless flash[:error].blank? && flash[:notice].blank?
  #messages
    - unless flash[:error].blank?
      #error
        = flash[:error]
    - unless flash[:notice].blank?
      #notice
        = flash[:notice]