.main-share
  %h3 Spread the word

  .share-buttons
    = link_to "Tweet", "https://twitter.com/share", class: "twitter-share-button", data: { url: "http://rubyheroes.com", text: "There are only #{distance_of_time_in_words_to_now($end_of_voting)} left to nominate your Ruby Heroes for 2016. Don't be a lonely operator!", size: "small" }
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

    #fb-root
      :javascript
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=106874206377516";
          js.async=true;
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    .fb-share-button{ data: { href: "http://rubyheroes.com", send: false, layout: "button", width: "50", show_faces: "false", action: "like", font: "lucida grande" } }
