<h1>Editing nomination</h1>

<%= error_messages_for :nomination %>

<% form_for(@nomination) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @nomination %> |
<%= link_to 'Back', nominations_path %>
