%section#nominate
  = semantic_form_for @nomination do |form|
    %h3
      Please complete your nomination
    = form.inputs :github_username, :for => :nominee
    = form.inputs :name, :email, :for => :nominator
    = form.inputs :testimonial
    .buttons
      %button.formbutton{:name=>"commit", :type=>"submit"} Submit Nomination
