%section.nomination
  = semantic_form_for @nomination do |form|
    %h2 Nomination
    = form.inputs :github_username, :for => :nominee
    = form.inputs :name, :email, :for => :nominator
    = form.inputs :testimonial
    %button{name: 'commit', type: 'submit'} Nominate
