- content_for :subheader, "Nominate a Ruby Hero!"
.box
  %h3
    Thanks for your nomination.
  %p
    Winners will be announced at
    = link_to("Railsconf", "http://en.oreilly.com/rails2009/") + "."
  %p
    = link_to("Nominate someone else", "/")
  %p
.spread_the_word
  %p
    %strong 
      Do your part to spread the word
  %p
    Pay it forward and  
    = link_to("talk about us on Twitter", "http://twitter.com/home?status=Currently%20reading%20http://rubyheroes.heroku.com/%20title=") + " or post a blog badge to your website to encourage others to show their gratitude."
    = image_tag "rubyhero_button_small.png", :alt => "Ruby Heroes"
  %p
    HTML Code: (click to copy and paste)
    :plain
      <textarea rows="3" cols="43" name="none" onclick="this.select();"><a href="http://www.RubyHeroes.com" title="Ruby Heroes"><img alt="Ruby Heroes" src="http://rubyheroes.morphexchange.com/images/rubyhero_button_small.png" /></a></textarea>
  %script