%section#pastheroes
  %p
    Here are the previous year's award winners.
    Many had quite humble beginnings, and now are quite notable.

%section#pastheroes
  - @years.each do |heroes|
    .year
      %h3
        #{year} Ruby Hero Award Winners
      %ul
        = render @heroes
