%section#heroeslist
  %h2
    2010 nominees
  %ul
    %li
      envylabs.com
    %li
      envylabs.com
    %li
      envylabs.com
    %li
      envylabs.com
%section#pastheroes
  %h2
    Past Heroes
    #2008
      %h3
        2008
      %ul
        = render :partial => "hero", :collection => @heroes.find_all {|i| i.year == "2008"}
    #2009
      %h3
        2009
      %ul
        = render :partial => "hero", :collection => @heroes.find_all {|i| i.year == "2009"}