%section#heroeslist
  %h2
    2010 nominees
  %ul
    %li
      envylabs.com
    %li
      envylabs.com
    %li
      envylabs.com
    %li
      envylabs.com
%section#pastheroes
  %h2
    Past Heroes
    %div#2008
      %h3
        2008
      %ul
        %li
          envylabs.com
        %li
          envylabs.com
        %li
          envylabs.com
        %li
          envylabs.com
    %div#2009
      %h3
        2009
      %ul
        %li
          envylabs.com
        %li
          envylabs.com
        %li
          envylabs.com
        %li
          envylabs.com