%section#pastheroes
  %p Here are the previous year's award winners.  Many had quite humble beginnings, and now are quite notable.  
    
%section#pastheroes
  - %w( 2011 2010 2009 2008 ).each do |year|
    .year
      %h3
        #{year} Ruby Hero Award Winners
      %ul
        = render :partial => "hero", :collection => @heroes.find_all {|i| i.year == year}
