//-------------------------------------
//  Imports
//-------------------------------------

@import "core/reset"
@import "core/settings"
@import "core/base"

// ----- Modules ----- //

@import "modules/forms"
@import "modules/grids"
@import "modules/admin"
@import "modules/nomination"
@import "modules/hero_input"
@import "modules/success"
@import "modules/clock"
@import "modules/share"
@import "modules/archives"
@import "modules/footer"

//-------------------------------------
//  Site
//-------------------------------------

.site
  box-sizing: border-box
  min-height: 100%
  overflow-x: hidden
  padding: 7px 1em
  position: relative
  +respond-to($lap)
    padding-left: 2em
    padding-right: 2em

.site-backdrop
  background-color: #333333
  bottom: 0
  left: 0
  position: absolute
  right: -150px
  transition: transform 0.75s ease-in-out
  top: 0

// ----- Content ----- //

.content
  background: $color-bg
  box-shadow: 0 0 0 1px rgba(#000, 0.08), 0 0 35px rgba(#000, 0.14)
  margin: .5em auto
  max-width: 100em
  position: relative
  +respond-to($desk)
    margin: 1em auto

header
  h1
    font-size: 1em
    margin-bottom: 0
  img
    display: block
    height: auto
    max-width: 100%
    width: 100%
    position: relative

// ----- Nominate ----- //

.nominate, .voting-disabled, .heroes-chosen
  padding: 2em 2em 2em
  position: relative
  +respond-to(550px)
    padding: 2em 2em 2em
  +respond-to($portable)
    padding: 2em
  +respond-to($desk)
    padding: 2em 8em 2em

// ----- Main ----- //

.main
  margin-bottom: 4em
  padding: 0 2em
  position: relative
  +respond-to($lap)
    padding: 0 4em
  +respond-to($portable)
    margin-bottom: 4em
  a
    color: $color-key
    font-size: 1em
    padding: 0 0.2em
    &:hover,
    &:focus
      background: transparent
      color: $color-highlight
  img
    display: block
    height: auto
    margin: 2em 10% 1em
    max-width: 80%
    width: 80%
    +respond-to($desk)
      margin: 0 0 1em
      max-width: 100%
      width: 100%
  li
    background: image-url('bg-bullet.svg') 5px center no-repeat
    background-size: 1em
    border-bottom: .01em solid $color-border
    font-size: 1.7em
    font-weight: bold
    padding: 0.5em 0 0.5em 2em
    +respond-to($lap)
      font-size: 2em
