#error
  margin-top: 1em
  font-size: 1.2em
  font-weight: bold
  text-align: center

#yes_match
  width: 340px
  margin: 0 auto
  overflow: hidden
  display: block
  h2
    margin-top: 10px
    margin-bottom: 0

.popdown
  margin: -15px 29px 5px
  padding: 0
  display: block
  li
    margin: 0 -5px
    border-left: 1px solid rgba(255, 255, 255, 0.2)
    border-right: 1px solid rgba(0, 0, 0, 0.2)
    border-bottom: 1px solid rgba(0, 0, 0, 0.4)
    border-top: 1px solid rgba(255, 255, 255, 0.5)
    background-color: #bbcbdb
    +linear-gradient(rgba(161, 192, 229, 0.3), rgba(122, 159, 204, 0.4))
    &:last-child
      -webkit-border-radius: 0 0 5px 5px
      -moz-border-radius: 0 0 5px 5px
      border-radius: 0 0 5px 5px
    &:active
      background-color: #aabed2
      +linear-gradient(rgba(122, 159, 204, 0.5), rgba(161, 192, 229, 0.5))
    a
      display: block
      width: 100%
      padding: 6px 0 5px
      text-indent: 10px
      font-weight: normal
      font-size: 1.1em
      background-position: 92%
      background-image: none
      background: url("../images/arrow.png") no-repeat 95%
      -webkit-transition: all 100ms ease-in
      -moz-transition: all 100ms ease-in
      transition: all 100ms ease-in
      &:hover, &:focus
        background-position: 98%
        