%section#heroes
  %ul
    %li= render :partial => 'heroes/portrait', :locals => {:name=>"Yehuda Katz",:year=>"2009",:image_source=>"Yehuda.jpg"}
    %li= render :partial => 'heroes/portrait', :locals => {:name=>"Evan Weaver",:year=>"2009",:image_source=>"Evan.jpg"}
%section#vote
  -form_for :site, :url=>new_nomination_path, :method=>:get do |form|
    %p What is the website or GitHub URL of the person you want to nominate?
    %div
      %label(for="site_url") http://
      = form.text_field :url
    %h2 Do you see a match?
    %ul#yes_match.popdown
    %h2 No match?
    %ul#no_match.popdown
      %li <a href="#">Nominate <strong>domain.com</strong></a>
    %button#nomination_submit.button.positive{:type=>"submit",:name=>"commit"} Nominate
%section#about
  .unsemantic-div
    :markdown
      ### What is this about? ###
      There are many people in the Ruby/Rails world who contribute to our community and rarely receive any recognition or payment for their work.
      
      They create educational content, develop plugins &amp; gems, contribute to open source projects, and even put on events which help educate and make our lives as developers easier.
      
      Ruby Heroes was created to show some gratitude and give these people the recognition they deserve. Hopefully the type of recognition that keeps them doing what they're doing, and continuing to make our community stronger.
      
      Based on the nominations you give here, [the previous Ruby Heroes](http://weblog.rubyonrails.org/2009/6/12/community-highlights-ruby-heroes") will pick 6 people who will receive a Ruby Hero Award at [Railsconf](<http://en.oreilly.com/rails2010/) this year.
%aside
  %section#reasons
    :markdown
      ### Reward what? ###
      + educational content &amp; tutorials
      + contribution to a useful open source project
      + help organizing educational events
      + free support on mailing lists / IRC
      + well deserved recognition
%section#spread
  :markdown
    ### Spread the word ###
    
    Pay it forward and [talk about us on Twitter](http://twitter.com/home?status=Currently%20reading%20http://rubyheroes.heroku.com/ title="Click to share this post on Twitter")